<% provide(:title, 'Zattsumer Home') %>
<!--<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
-->
<br>
<br>
<br>
<br>
<br>
<br>
<div class="jumbotron">
	<h1>ようこそ</h1>
	<p>とらいしてみて</p>
	<p><a class="btn btn-primary btn-lg">詳しく</a></p>
</div>
